*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    margin: 0%;
}

header {
    position: relative;
    padding: 1;
    text-decoration: none;
}

a {
    font-size: large;
    center
    text-decoration: none;
}

nav ul {
    list-style-type: none; 
    position: absolute;
    top: 0.5rem
    left: 1rem
}

nav li {
    display: inline;
    margin-left: 0.5rem;
    text-decoration: none;
}

ul {
    list-style-type: none;
    position: absolute
    top: 0.5
    right: 1rem
}

li {}

main section: home {
    background-color: black
}

main section: .home img {
    width: 600px;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

main section: span {
    text-color: white;
}

main section: .About img {
    float: :right;
    margin-left: 2rem
    width: auto
}

main section: p {
    margin:auto
}

footer {
    background-color: orange;
    text-align: center;
    padding: 10rem;
    width: 100%
}

footer ul {
    position: absolute;
}

footer li {
    display: inline;
    font-size: small;
}